@font-face {
  font-family: 'inconsolata';
  src: url('../font/inconsolata.ttf');
}
@font-face {
  font-family: 'rubik';
  src: url('../font/Rubik-Regular.ttf');
}

:root{
  --bg_principal: rgb(29 32 38);
  --bg_secundario: rgb(31 36 41);
  --bg_terciario: rgb(33 38 46);
  --bg_terciario_b: rgb(52 57 67 / 43%);
  --bg_terciario_c: #262a33;
  --bg_cuarto: rgb(52 57 67);
  --bg_quinto: rgb(255 255 255 / 7%);

  --co_0: rgb(210, 210, 210);
  --co_1: rgb(155 155 155);
  --co_2: rgb(83 83 83);
  --co_2b: rgb(105 105 105);
  --co_3: rgb(47 47 47);

  --co_mapa_gris: #bfbfbf;
  --co_mapa_rojo: #fa7373;
  --co_mapa_amarillo: #c6b947;
  --co_mapa_verde: #5cca6c;


  --co_gaf_fac: 60%;
  --co_gaf_amarillo: rgb(240 223 73 / var(--co_gaf_fac));
  --co_gaf_verde: rgb(3 183 59 / var(--co_gaf_fac));
  --co_gaf_rojo: rgb(207 72 29 / var(--co_gaf_fac));
  --co_gaf_lostpackage: rgb(244 67 54 / 50%);
  --co_gaf_desconectado: rgb(69 38 161 / 50%);

  --co_txt_verde: #49ba4d;
  --co_txt_amarillo: #b1bf27;
  --co_txt_rojo: #ff5722;
}

body {
  background-color: transparent;
  font-family: 'rubik';
}

.ffm{ font-family: 'inconsolata';}
.ffr{ font-family: 'rubik';}

.co_0{ color: var(--co_0); }
.co_1{ color: var(--co_1); }
.co_2{ color: var(--co_2); }
.co_2b{ color: var(--co_2b); }
.co_3{ color: var(--co_3); }
.co_4{
  color: rgb(177, 177, 177);
}

.co_m_g{fill: var(--co_mapa_gris);}
.co_m_r{fill: var(--co_mapa_rojo);}
.co_m_a{fill: var(--co_mapa_amarillo);}
.co_m_v{fill: var(--co_mapa_verde);}

.bg_m_g{background-color: var(--co_mapa_gris);}
.bg_m_r{background-color: var(--co_mapa_rojo);}
.bg_m_a{background-color: var(--co_mapa_amarillo);}
.bg_m_v{background-color: var(--co_mapa_verde);}

.co_t_v{color: var(--co_txt_verde);}
.co_t_a{color: var(--co_txt_amarillo) !important; }
.co_t_na{color: #ffc107;}

.co_t_r{color: var(--co_txt_rojo);}
.co_t_n{color: var(--co_1);}

.bg_v{ background-color: #05c13f; }
.bg_a{ background-color: #ffeb3b; }
.bg_r{ background-color: #ff5722; }
.bg_n{ background-color: #000; }
.bg_w{ background-color: #fff; }
.bg_1{ background-color: var(--bg_principal); }
.bg_2{ background-color: var(--bg_secundario); }
.bg_3{ background-color: var(--bg_terciario)!important; }
.bg_4{ background-color: var(--bg_cuarto)!important; }
.bg_5{ background-color: var(--bg_quinto)!important; }

.bo_r{border: 1px solid var(--bg_principal);}

.bg_co_1 { background-color: #000; }
.bg_bd{background-color: var(--co_gaf_lostpackage);}
.ls01{letter-spacing: 0.1px;}