main {
    background-color: var(--bg_principal);
  
    border-radius: 7px;
    overflow: hidden;
    color: var(--co_1);
  }
  
  nav {
    --nav_alto: 20px;
    --svg_tray_size: calc(var(--nav_alto)/1.6);
    --svg_ico_size: calc(var(--nav_alto)/2.2);
  
    height: var(--nav_alto);
    background-color: var(--bg_principal);
  }
  .nav_cont_tray{
    height: var(--nav_alto);
    width: var(--nav_alto);
    padding: 0 1.5px;
  }
  .nav_cont_tray img{
    height: max(15px, var(--svg_tray_size));
    width: max(15px, var(--svg_tray_size));
  }
  .nav_cont_botones_menu{
    margin-top: 4px;
  }
  .nav_botones_menu{
    height: calc(var(--nav_alto) - 0px);
    font-size: 9px;
  }
  .nav_botones_menu > div[svgI] > svg{
    height: var(--svg_ico_size);
    width: var(--svg_ico_size);
  }
  
  .a01{
    background-color: var(--bg_principal);
  }
  .a02{
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;

    /* background-image:  
        linear-gradient(var(--bg_secundario) 2px, transparent 2px), 
        linear-gradient(90deg, var(--bg_secundario) 2px, transparent 2px), 
        linear-gradient(var(--bg_secundario) 1px, transparent 1px), 
        linear-gradient(90deg, var(--bg_secundario) 1px, transparent 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
    border-radius: 3px;
    overflow: hidden;
  }
  .a02b{
    flex-grow: 1;
    height: 3px;
    background-color: #f443367a;
  }
  .a02b1{
    width: 1px;
    height: 1px;
  }
  .a02c{
    flex-grow: 1;
    /* width: 4px; */
  }
  .a02c1{
    flex-grow: 1;
    /* width: 3px; */
    height: 3px;
  }
  .punto_monitor{
    --color: rgba(128, 128, 128, 0.086);
    background: var(--color);
    flex-grow: 1;
    min-height: 3px;
  }
  .pm_v{ --color: var(--co_gaf_verde); }
  .pm_a{ --color: var(--co_gaf_amarillo); }
  .pm_r{ --color: var(--co_gaf_rojo); }
  .pm_1{ --color: var(--co_gaf_lostpackage); }
  .pm_2{ --color: var(--co_gaf_desconectado); }
  
  .a02e{
    background-color: #673ab75e;
    border: 1px solid #673ab7;
    border-radius: 1px;
    height: 3px;
    width: 3px;
  }
  .a02e2{
    background-color: #ff00d95b;
    border: 1px solid #ff00f7;
  }
  .a02e1{
    width: 1px;
    height: 1px;
  }
  .a03{background-color: red;}
  .a04{
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
    font-size: 11px;
  }
  .a06 button{
    cursor: pointer;
    color: #505050;
  }
  .a06q{
    border-radius: 30px 30px 0px 0px;
    height: 9px;
    left: -6px;
    right: -6px;
    bottom: -7px;
    padding: 0px 5px;
  }
  .a06q2{
    left: 0px;
    border-top-left-radius: 0px;
    bottom: -4px;
    height: 9px;
    right: -2px;
  }
  .a07{
    border-top: 1px solid var(--bg_quinto);
  }
  .a07b {
    border-bottom: 1px solid var(--bg_quinto);
  }
  .a07u{
    border-radius: 7px;
    box-shadow: 0px 0px 13px var(--co_gaf_rojo);
    background-color: var(--co_gaf_rojo);
  }
  .a08{
    font-size: 10px;
  }
  .a09{
    image-rendering: -webkit-optimize-contrast;
    border-radius: 3px;
  }
  .a11{
    position: absolute;
    top: 3px;
    left: 11px;
    height: 17px;
    transform: rotate(138deg);
    outline: 1px solid white;
  }
  .a12{
    padding: 2px 2px 2px 5px;
    border-radius: 5px;
    color: #727272;
    height: 15px;
  }
  .a12b{
    /* background-color: var(--bg_terciario); */
    color: var(--co_1);
    border: none;
  
    padding: 0px 7px 0px 5px;
    cursor: pointer;
  }
  .a12c {
    background-color: transparent;
    color: var(--co_1);
    cursor: pointer;
  
    margin: 0;
    padding: 0;
    border: none;
  
    width: 25px;
    height: 20px;
  }
  .a12t:hover{
    background-color: #ff2d2db8;
    color: #d7d7d7;
  }
  .a12y:hover{
    background-color: var(--bg_cuarto);
    color: #d7d7d7;
  }
  .a12y:hover .e13, .a12y:hover .a24{
    opacity: 1;
    display: flex;
  }

  .a12d{
    border-bottom-left-radius: 5px;
  }
  .a13{
    display: flex;
    align-items: stretch;
    margin: 4px 0px;
  }
  .a14{
    padding: 0px 2px;
    border-radius: 3px;
    border: 1px solid currentColor;
    font-size: 8px;
  }
  .a15{
    background-color: var(--bg_secundario);
    padding: 1px 5px;
    font-size: 8px;
    border-radius: 1px;
  }
  .a16{
    height: 12px;
  }
  .a17{
    color: var(--co_mapa_rojo);
    transform: rotate(45deg);
    position: absolute;
    right: -5px;
    top: 5px;
    background-color: var(--bg_principal);
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
  }
  /* .a18 span{
   position: absolute;
   top: -5px;
  } */
  .a19{
    width: 46px;
    background-color: var(--bg_principal);
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    margin-right: 10px;
    border: 1px solid #c5c5c5;
    height: 22px;
  }
  .a19 svg{
    width: 13px;
  }
  .a20{
    left: 22px;
  }
  .a20b{
    left: 2px;
  }
  .a21{
    background-color: var(--bg_principal);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 1px;
    right: 1px;
    border-radius: 2px;
    padding: 0px;
    width: 8px;
  }
  .a22 div{
    padding-top: 2px;
  }
  .a22:hover .a23b{display: flex;}
  .a23b{display: none;}
  .a24{
    background-color: var(--bg_cuarto);
    top: 7px;
    right: 17px;
    height: 20px;
    width: 13px;
    transform: rotate(45deg);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 7;
    opacity: 0;
  }
  .a25{
    /* background: repeating-linear-gradient( -45deg, var(--bg_secundario), var(--bg_secundario) 2px, transparent 2px, transparent 8px ); */
  }
  .a26{
    padding: 0px 5px;
    padding-top: 0px;
    border-radius: 2px;
    font-size: 7px;
    background-color: var(--bg_terciario_c);
  }
  .a26:hover{
    background-color: var(--bg_cuarto);
  }
  .a27{
    border-radius: 2px;
    padding: 1px 0px 1px 3px;
    background-color: rgb(46 54 61);
    color: var(--co_1);
    font-family: 'rubik';
    border: none;
  }

  .a28 {
    margin: 0;
    border-radius: 3px;
    background: var(--bg_terciario_c);
    border: none;
    outline: none;
    display: inline-block;
    appearance: none;
  }
  .a28:hover{
    background-color: var(--bg_cuarto);
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .a28 {
      padding-right: 14px;
      padding-left: 4px;
    }
  }
  .a29:after{
    content: '<>';
    font: 7px "Consolas", monospace;
    transform: rotate(90deg);
    right: 0px;
    top: 0px;
    padding: 3px 1px 2px 1px;
    border-bottom: 1px solid var(--co_2);
    position: absolute;
    pointer-events: none;
  }

  
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.1s ease;
  }
  
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
  
  
  .e01{
    border-right: 1px solid rgb(128 128 128 / 10%);
    height: 100px;
  }
  .e01q{
    height: 80px;
  }
  .e02{
    overflow-x: scroll;
  }
  
  .e02::-webkit-scrollbar {
    width: 3px;
    height: 5px;
  }
  .e02::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 1px;
  }
  .e02::-webkit-scrollbar-track {
    margin: 5px 0px;
  }
  .e03{
    background-color: #9e9e9e29;
    width: 1px;
  }
  .e03a{
    background-color: #da00ff30;
    width: 1px;
  }
  .e04{
    display: flex;
    flex-direction: column-reverse;
  }
  /* .e05{} */

  .e06 button{
    padding: 0px 3px;
    font-size: 7px;
    color: var(--co_1);
    cursor: pointer;
    word-spacing: -3px;
    border: 1px solid transparent;
  }
  .e06 button:not(.bg_1){
    background-color: unset;
  }
  .e07{
    background-color: rgb(52 57 67 / 43%);
    border-radius: 2px;
    overflow: hidden;
  }
  .e07 button:first-child{
    padding-left: 6px!important;
  }
  .e07 button:last-child{
    padding-right: 6px!important;
  }
  .e08:hover{
    background-color: var(--bg_terciario_b)!important;
  }
  .e08{
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 2px;

    /* animation: warnBlink infinite 0.3s; */
    transition: all 0.05s;
  }
  .e08_sh:active{
    border: 1px solid currentColor;
    background-color: rgba(255, 255, 255, 0.139)!important;
  }
  @keyframes warnBlink{ 
    from {
      outline: inherit;
      background-color: inherit;
    } 
    to {
      outline: 1px solid hwb(60deg 0% 0% / 17%);
      background-color: rgb(255 235 59 / 10%);
    } 
  }
  .e09 button{
    background-color: transparent;
    color: var(--co_1);
    border-radius: 5px;
  }
  .e09 input[type='date']{
    background-color: var(--bg_terciario);
    color: var(--co_1);
    font-size: 0.6em;
    padding: 0px 6px;
    border: none;
  }
  .e09 input[type="range"] {
    height: 4px;
    border-radius: 1px;
  }
  .e10{
    border-top-left-radius: 10px;
  }
  .e11{
    width: 50px;
    height: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    display: grid;
    justify-content: space-around;
  }
  .e11 > div{
    cursor: pointer;
    background-color: var(--bg_quinto);
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--co_0);
    filter: brightness(0.5);
  }
  .e11 > div:hover{
    filter: brightness(1);
  }
  .e12{
    background-color: var(--bg_cuarto);
    white-space: nowrap;
    padding: 1px 5px;
    border-radius: 3px;
    margin: 2px;
    font-size: 9px;
    cursor: pointer;
    color: var(--co_1);
  }
  .e13{
    max-height: 6em;
    color: var(--co_0);
    display: none;
    opacity: 0;
    transition: .1s opacity;
  }
  
  .e14:checked ~ label .e15{
    visibility: hidden;
  }
  .e16:hover #svgTam{ animation:scale-up-center .7s linear infinite alternate }
  .e16b:hover #svgPos{ animation:mover-arriba-abajo .7s linear infinite alternate }
  .e16c:hover #svgPin{ animation:mover-arriba-abajo .7s linear infinite alternate }
  @keyframes scale-up-center{ from{width: 8px; height: 8px;} to{width: 10px; height: 10px;} }
  @keyframes mover-arriba-abajo{ from{top: -1px;} to{top: 1px;} }
  #svgTam{ transform-origin: center; }
  .e17 > div div{ background-color: var(--bg_quinto); }
  .e17 > div:hover div{ background-color: var(--bg_cuarto); }
  /* .e18 */
  .e19{ 
    color: var(--co_1);
  }
  .e20{ overflow-y: scroll; }
  .e21 > div{
    padding-top: 1em;
  }
  .e21 > div > div{
    padding-top: 10px;
  }
  .c01{
    padding: 0 5em;
    background: repeating-linear-gradient( -45deg, var(--bg_principal), var(--bg_principal) 5px, #e5e5f700 5px, #e5e5f700 15px );
  }
  
  @media only screen and (max-width: 230px) {
    .e18{
      text-transform: uppercase;
      overflow: hidden;
      width: calc(1.2ex * 3);
    }
  }
  @media only screen and (max-height: 135px) {
    .e10{margin-bottom: 4px;}
  }
  @media only screen and (min-height: 300px) and (min-width:380px) {
    /* nav{--nav_alto: 28px;}
    .nav_cont_tray{padding-right: 7px;}
    .nav_botones_menu{font-size: 11px; padding: 0px 11px 0px 8px; grid-gap: 5px;}
    .nav_cont_botones_menu{margin-top: 6px;} */
  }
  @media only screen and (min-height: 550px) {
  }